alembic==1.8.1
click @ file:///C:/ci/click_1646038595831/work
dnspython==2.2.1
email-validator==1.2.1
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-Cors==3.0.10
Flask-Login==0.6.2
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet @ file:///C:/ci/greenlet_1628888275363/work
gunicorn==20.1.0
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
Mako==1.2.2
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
marshmallow==3.17.1
psycopg2-binary==2.9.3
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.20.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1647600017103/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
WTForms==3.0.1
